.finish{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
    &.active{
        display: block !important;
    }
    img{
        width: 100%;
        object-fit: cover;
    }
}