.modal {
  width: 300px;
  min-height: 350px;
  /* position: absolute; */
  background-color: white;
  /* top: 50%;
  left: 50%; */
  /* position: relative; */
  /* transform: translate(-50%, -50%); */
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 25px lightgray;
  border-radius: 10px;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  transition: 500ms;
  animation-name: visible;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  border: 1px solid blue;
  outline: 1px solid deeppink;
  outline-offset: 10px;
  margin: 0px auto;
  .question {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: iranYekan;
    text-align: center;
  }
  .media {
    width: 100%;
    display: none;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    &.active {
      display: block !important;
    }
  }
  .groupBtns {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 16px;
    button {
      all: unset;
      display: block;
      width: fit-content;
      padding: 10px 20px;
      box-sizing: border-box;
      border-radius: 10px;
      cursor: pointer;
      transition: 400ms;
      font-family: iranYekan;
      font-size: 14px;
      text-align: center;
      &:hover {
        transform: scale(85%);
      }
      &.left {
        border: 2px solid blue;
      }
      &.right {
        border: 2px solid crimson;
        &.disable {
          opacity: 0.5;
          border-color: gray;
          cursor: not-allowed;
          &:hover {
            transform: unset;
          }
        }
      }
    }
  }
  &.active {
    display: flex !important;
  }
}


.none{
    display: none !important;
}