@keyframes postalLeft {
  from {
  }
  to {
    transform: rotateY(120deg);
  }
}
@keyframes postalRight {
  from {
  }
  to {
    transform: rotateY(-120deg);
  }
}

@keyframes removePostal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.postal {
  width: 65vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 800px;
  display: none;
  animation-name: removePostal;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 8000ms;
  overflow: hidden;
  h1{
    width: 65vw;
    text-align: center;
    font-family: iranYekan;
    font-size: 20px;
  }
  &.active{
    display: block !important;
  }
  img {
    width: 100%;
  }
  .left {
    width: 50%;
    height: 100%;
    background-color: crimson;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left top;
    animation-name: postalRight;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 400ms;
  }
  .right {
    width: 50%;
    height: 100%;
    top: 0;
    background-color: crimson;
    position: absolute;
    right: 0;
    transform-origin: right top;
    animation-name: postalLeft;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 400ms;
  }
}
